{% extends './base.html' %}
{% block content %}
{% ifequal accion "uno" %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Se selecciona un cliente, se le da un nombre al test</h2>
        </div>
    </div>
    <form action="" method="POST">
        <div class="row">
            <div class="col-8">
                <label for="cliente" class="form-label">Cliente</label>
                <select name="cliente" id="cliente">
                    <option value="">Seleccione un cliente</option>
                    {% for c in clientes %}
                        <option value="{{c.id}}">{{c.nombre}}</option>
                    {% endfor %}
                    <option value="otro">Nuevo Cliente</option>
                </select>
                <input type="text" class="form-control" id="cliente_nuevo" name="cliente_nuevo">
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <label for="testName" class="form-label">Nombre del Test</label>
                <input type="text" class="form-control" id="testName" name="testName">
            </div>
        </div>
        <div class="row">
            <div class="col-8 mt-3">
                <button type="submit" class="btn btn-outline-primary btn-sm">Continuar</button>
            </div>
        </div>
    </form>
</div>
{% endifequal %}

{% ifequal accion "dos" %}

{% endifequal %}

{% endblock %}