{% extends './base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>ADD ADJETIVO (en modo normal solo se pueden agregar hasta 2) </h1>
            <h3>Test : {{iat.nombre}} ({{iat.tipo}})</h3>
            <h3>Caracteristica : {{car.caracteristica.nombre}}</h3>

        </div>
    </div>
    <div class="row">
        Adjetivos:
    </div>
    <div class="row">
        {% for cant in adj_totales %}
        <div class="col">
            Adjetivo {{cant}}
        </div>        
        {% endfor %}
    </div>

<div class="row">
    {% for r in adjs %}
    <div class="col">
        <b>N:{{r.nombre}}
            {% if r.id > 0 %}
                <a href="/iat/adjetivo/remove/{{r.id}}?car_id={{car.id}}">[Eliminar]</a>               
            {% endif %}
        </b>
    </div>
    {% endfor %}
</div>
    {% if iat.tipo == "normal" %}
        
        <div class="row mt-3">
            <div class="col">
                <form action="/iat/adjetivo/add/{{car.id}}" method="POST">
                    {% csrf_token %}
                    <select name="adj_id" id="adj_id">
                        <option value="">Seleccione un adjetivo</option>
                        <option value="otro">Agregar nuevo adjetivo</option>
                        {% for a in adjs_list %}
                        <option value="{{a.id}}">{{a.nombre}}</option>
                        {% endfor %}
                        
                    </select>
                    <input type="text" name="new_adj" id="new_adj" placeholder="Nuevo Adjetivo" class="form-control form-control-sm d-none mt-3">
                    <button type="submit" class="btn btn-outline-primary btn-sm" {% if total_adjetivos == 2 %} disabled {% endif %}>Agregar</button>
                </form>
            </div>
        </div>
        
    {% else %}
    <div class="row mt-3">
        <div class="col">
            <form action="/iat/adjetivo/add/{{car.id}}" method="POST">
                {% csrf_token %}
                <select name="adj_id" id="adj_id">
                    <option value="">Seleccione un adjetivo</option>
                    {% for a in adjs_list %}
                    <option value="{{a.id}}">{{a.nombre}}</option>
                    {% endfor %}
                    <option value="otro">Agregar nuevo adjetivo</option>
                </select>
                <input type="text" name="new_adj" id="new_adj">
                <button type="submit" class="btn btn-outline-primary btn-sm">Agregar</button>
            </form>
        </div>
    </div>
    {% endif %}
    <a href="/config_01/{{iat.id}}">Volver a Caracteristicas</a>
</div>
<script>
    $('#adj_id').on('change',function(){
        if ( $(this).val() =='otro' ){
            $('#new_adj').removeClass('d-none');
            $('#new_adj').focus();
        }
        else{
            $('#new_adj').addClass('d-none');
        }
    });
</script>
{% endblock %}