{% extends './base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>ADD ADJETIVO </h1>
            <h3>Test : {{iat.nombre}} </h3>
            <h3>Caracteristica : {{car.caracteristica.nombre}}</h3>

        </div>
    </div>
    <div class="row">
        {% for cant in adj_totales %}
        <div class="col">
            Adjetivo {{cant}}
        </div>        
        {% endfor %}
    </div>

<div class="row">
    {% for r in adjs %}
    <div class="col">
        <b>N:{{r.nombre}}
            {% if r.id > 0 %}
                <a href="/iat/adjetivo/remove/{{r.id}}?car_id={{car.id}}">[Eliminar]</a>               
            {% endif %}
        </b>
    </div>
    {% endfor %}
</div>
    {% if iat.tipo == "normal" %}
        {% if adj2.id == -1 %}
        <div class="row mt-3">
            <div class="col">
                <form action="/iat/adjetivo/add/{{car.id}}" method="POST">
                    {% csrf_token %}
                    <select name="adj_id" id="adj_id">
                        <option value="">Seleccione un adjetivo</option>
                        {% for a in adjs_list %}
                        <option value="{{a.id}}">{{a.nombre}}</option>
                        {% endfor %}
                        <option value="otro">Agregar nuevo adjetivo</option>
                    </select>
                    <input type="text" name="new_adj" id="new_adj">
                    <button type="submit" class="btn btn-outline-primary btn-sm">Agregar</button>
                </form>
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="row mt-3">
        <div class="col">
            <form action="/iat/adjetivo/add/{{car.id}}" method="POST">
                {% csrf_token %}
                <select name="adj_id" id="adj_id">
                    <option value="">Seleccione un adjetivo</option>
                    {% for a in adjs_list %}
                    <option value="{{a.id}}">{{a.nombre}}</option>
                    {% endfor %}
                    <option value="otro">Agregar nuevo adjetivo</option>
                </select>
                <input type="text" name="new_adj" id="new_adj">
                <button type="submit" class="btn btn-outline-primary btn-sm">Agregar</button>
            </form>
        </div>
    </div>
    {% endif %}
    <a href="/iat/{{iat.id}}">Volver a Caracteristicas</a>
</div>
{% endblock %}