{% extends './base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>
                Estudio IAT Elecciones Presidenciales 2021
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 mb-4">
            Muchas Gracias por su participación en la primera versión del 
            estudio IAT de Elecciones Presidenciales 2021, este estudio busca medir las asociaciones implícitas entre los diferentes conceptos tratados y los candidatos políticos presentes en la papeleta 2021.
        </div>
    </div>
    <div class="row">
        <div class="col-10 mb-4">
            A continuación se presentara un concepto o tema y usted deberá elegir haciendo 
            click sobre la foto del candidato presidencial que usted considera que lo hará mejor o asocia mas a ese atributo o concepto.
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h4>
                Agencia Mars – Proyecto Implícita
            </h4>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="/elecciones2021/start/8" class="btn btn-primary btn-sm">Comenzar el test</a>
</div>
{% endblock %}