{% extends './base.html' %}
{% block content %}
<h2>Indicaciones</h2>
<div class="container">
    <div class="row">
        <div class="col-10">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium soluta unde illum ullam ducimus eos dolores ea debitis est laboriosam reiciendis dignissimos ab veritatis quisquam doloribus, expedita, repellendus sed! Illum, atque officia, velit voluptas ab tempore inventore perferendis, rem necessitatibus beatae libero a? Architecto perspiciatis tempora odio eaque repellendus eum?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="paso1" class="btn btn-primary">INICIAR TEST </a>
        </div>
    </div>
</div>



{% endblock %}