{% extends '../base.html' %}
{% block content %}
<div class="cointainer ms-4">
    <div class="row">
        <div class="col-10">
            <h1>Estudio IAT Elecciones Presidenciales 2021</h1>
        </div>
    </div>
    {% if ok != 1 %}
    <div class="row">
        <div class="col-10">
            <h6>
                <p>
                    Hola <span class="text-danger">{{request.session.user.name}}</span>, muchas gracias por aceptar esta invitación a participar de nuestro estudio. Ahora te solicitaremos algunos datos sobre ti, que nos permitirán estratificar la muestra con fines metodológicos. Recuerda que no usaremos tus datos para ningún fin que no sea este estudio, así que relájate, es un pacto de confianza. 
                </p>
                <p> Procura que los datos entregados sean fidedignos.</p>
            </h6>
        </div>
    </div>
    {% endif %}
   

    {% if ok == 0 %}
   
    <form action="/elecciones2021/start/{{iat_id}}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        <label for="edad" class="form-label">¿Cual es tu edad?</label>
                        <input type="number" name="edad" id="edad" value="{{edad}}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <label for="sexo" class="form-label"> ¿Eres?</label>
                        <select name="sexo" id="sexo" class="form-control">
                            <option value="">Seleccione una Opción</option>
                            <option value="F" {% if sexo == "F" %} selected {% endif %} >Mujer</option>
                            <option value="M" {% if sexo == "M" %} selected {% endif %} >Hombre</option>
                            <option value="O" {% if sexo == "O" %} selected {% endif %} >Otro</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <label for="comuna" class="form-label"> ¿En qué comuna vives?</label>
                        <input type="text" name="comuna" id="comuna" value="{% if comuna_ok == 1 %}{{comuna}}{% endif %}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="ciudad" class="form-label"> ¿Y cual es tu ciudad de residencia?</label>
                        <input type="text" name="ciudad" id="ciudad" value="{% if ciudad_ok == 1 %}{{ciudad}}{% endif %}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <button type="submit" class="btn btn-sm btn-primary">Continuar</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {% if ok == 1 %}
    <div class="row">
        <div class="col-10">
            <h6>A continuación presentaremos un <b>concepto</b>  o <b>atributo</b>  y usted debe responder a qué candidato asocia más ese atributo o cree que lo hará mejor en el concepto mostrado.</h6>
            <p>
                El test debe ser realizado lo más <b>rápido</b> y <b>preciso</b> como sea posible.
            </p>
            <p>
                La duración del test no supera los 3 minutos.
            </p>
        </div>
    </div>
    <div class="mobile">
        <a href="/elecciones2021/test/m" class="btn btn-sm btn-primary">Estamos listos!(M)</a>
    </div>
    <div class="tablet">
        <a href="/elecciones2021/test/t" class="btn btn-sm btn-primary">Estamos listos!(T)</a>
    </div>
    <div class="desktop">
        <a href="/elecciones2021/instrucciones" class="btn btn-sm btn-primary">Estamos listos!(D)</a>
    </div>
    <style>
        .mobile{
            display: none;
        }
        .tablet{
            display: none;
        }
        .desktop{
            display: inline-block;
        }
        
        @media only screen and (max-width: 1100px){
            .mobile{
                display: none;
            }
            .tablet{
                display: inline-block;
            }
            .desktop{
                display: none;
            }            
        }
        @media only screen and (max-width: 600px){
            .mobile{
                display: inline-block;
            }
            .tablet{
                display: none;
            }
            .desktop{
                display: none;
            }            
        }
    </style>
    {% endif %}

    {% if ok == 2 %}
    <div class="row">
        <div class="col-10">
            <h6>
                <p class="text-info bg-dark">
                    Usted ya ha respondido este estudio. Le agradecemos que lo haya hecho y pronto lo invitaremos a nuevos estudios.
                </p>
            </h6>
        </div>
    </div>
    <a href="/elecciones2021/regresar" class="btn btn-sm btn-primary">Realizar estudio con otro usuario</a>
    {% endif %}
</div>



{% endblock %}