{% extends '../base.html' %}
{% block content %}
<div class="cointainer ms-4">
    <div class="row">
        <div class="col-10">
            <h1>Estudio IAT {{request.session.iat_nombre}} </h1>
        </div>
    </div>
    {% if ok != 1 %}
    <div class="row">
        <div class="col-10">
            <h6>
                <p>
                    Hola <span class="text-danger">{{request.session.user.name}}</span>, muchas gracias por aceptar esta invitación a participar de nuestro estudio. Ahora te solicitaremos algunos datos sobre ti, que nos permitirán estratificar la muestra con fines metodológicos. Recuerda que no usaremos tus datos para ningún fin que no sea este estudio, así que relájate, es un pacto de confianza. 
                </p>
                <p> Procura que los datos entregados sean fidedignos.</p>
            </h6>
        </div>
    </div>
    {% endif %}
   

    {% if ok == 0 %}
   
    <form action="/estudio/start/{{iat_id}}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        <label for="edad" class="form-label">¿Cual es tu edad?</label>
                        <input type="number" name="edad" id="edad" value="{{edad}}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <label for="sexo" class="form-label"> ¿Eres?</label>
                        <select name="sexo" id="sexo" class="form-control">
                            <option value="">Seleccione una Opción</option>
                            <option value="F" {% if sexo == "F" %} selected {% endif %} >Mujer</option>
                            <option value="M" {% if sexo == "M" %} selected {% endif %} >Hombre</option>
                            <option value="O" {% if sexo == "O" %} selected {% endif %} >Otro</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <label for="comuna" class="form-label"> ¿En qué comuna vives?</label>
                        <input type="text" name="comuna" id="comuna" value="{% if comuna_ok == 1 %}{{comuna}}{% endif %}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="ciudad" class="form-label"> ¿Y cual es tu ciudad de residencia?</label>
                        <input type="text" name="ciudad" id="ciudad" value="{% if ciudad_ok == 1 %}{{ciudad}}{% endif %}" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <button type="submit" class="btn btn-sm btn-primary">Continuar</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {% if ok == 1 %}
    <div class="row">
        <div class="col-10">
            <h5>Este Test consiste en distintas partes, cada una mide distintos indicadores.</h5>
            <p>Al principio de cada parte habrá una pequeña explicación, la cual debe leer detenidamente, además de un contador de tiempo que le indicará cuando comience a responder.</p>
        </div>
    </div>
    <div class="mobile" id="mobile">
        <a href="/estudio/test/m" class="btn btn-sm btn-primary">Estamos listos!</a>
    </div>
    <div class="tablet" id="tablet">
        <a href="/estudio/test/t" class="btn btn-sm btn-primary">Estamos listos!</a>
    </div>
    <div class="desktop" id="desktop">
        <a href="/estudio/instrucciones" class="btn btn-sm btn-primary">Estamos listos!</a>
    </div>
    <style>
        .mobile{
            display: none;
        }
        .tablet{
            display: none;
        }
        .desktop{
            display: inline-block;
        }
        
        @media only screen and (max-width: 1100px){
            .mobile{
                display: none;
            }
            .tablet{
                display: inline-block;
            }
            .desktop{
                display: none;
            }            
        }
        @media only screen and (max-width: 600px){
            .mobile{
                display: inline-block;
            }
            .tablet{
                display: none;
            }
            .desktop{
                display: none;
            }            
        }
    </style>
    {% endif %}

    {% if ok == 2 %}
    <div class="row">
        <div class="col-10">
            <h6>
                <p class="text-info bg-dark">
                    Usted ya ha respondido este estudio. Le agradecemos que lo haya hecho y pronto lo invitaremos a nuevos estudios.
                </p>
            </h6>
        </div>
    </div>
    <a href="/estudio/regresar" class="btn btn-sm btn-primary">Realizar estudio con otro usuario</a>
    {% endif %}
</div>
<script>
    let navegador = navigator.userAgent;
    if( (window.innerWidth <= 768) && (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) ) {
        console.log("Es un móvil");
    }
    else{
        console.log("No es un móvil");
        $('#mobile').hide();
        $('#tablet').hide();
        $('#desktop').show(); 
    }
    //console.log(navegador);
</script>


{% endblock %}