{% extends '../base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6  text-center">
            <h1>3ra Parte</h1>
        </div>
        <div class="col">
        </div>
    </div>


    <div class="row">
        <div class="col-6 text-center">
            <h2>Estimulo 1<br>Adjetivo 1</h2>
        </div>
        <div class="col-6 text-center">
            <h2>Estimulo 2<br>Adjetivo 2</h2>
        </div>
    </div>
    <div class="row">
        
        <div class="col-6  text-center">
            <h2>Variable-imagenes</h2>
        </div>
        <div class="col-6  text-center">
            <h2>Variable-caracteristicas</h2>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6  text-center">
            <a href="paso4" class="btn btn-primary">SIGUIENTE </a>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}