{% extends '../base.html' %}
{% block content %}

<style>
    .oculto{
        position: absolute;
        left:-200px;
    }
    .candidato2{
        height: auto; 
        width: auto; 
        max-width: 150px; 
        max-height: 150px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8  text-center">
            <h5>Estudio IAT {{request.session.iat_nombre}}</h5>
        </div>
        <div class="col">
           
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6  text-center">
            <h1>Conceptos</h1>
        </div>
        <div class="col">
           
        </div>
    </div>

    <div class="container rounded border">
        <div class="row ">
            <div class="col ">
                
            </div>
            <div class="col-6 text-center ">
                <h1 class="text-danger fw-bold">{{combinacion.car}}</h1>
            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6 text-center">
                <h2>{{combinacion.adj1}}</h2>
                (e)
            </div>
            <div class="col-6 text-center">
                <h2>{{combinacion.adj2}}</h2>
                (i)
            </div>
        </div>
    </div>
    
    {% if request.session.user.role == "admin" %}
    <div class="row">
        <div class="col">
           
        </div>
        <div class="col-6 text-center">
            restantes: ({{restantes}}) - posicion:({{posicion_azar}}) - original:({{combinacion.pos}}) <br>
            <h2>{{combinacion.car}}</h2>
        </div>
        <div class="col">
           
        </div>
    </div>
    {% endif %}
    {% load static %}
</div>

<form action="/estudio/test/{{dispositivo}}" method="POST" id="form_tiempo" name="form_tiempo">
    {% csrf_token %}
    <input type="hidden" name="milisegundos" value="" id="milisegundos">
    <input type="hidden" name="combinacion" value="{{combinacion.pos}}">
    <input type="hidden" name="analisis" value="1">
    <input type="hidden" name="iat_id" value="{{request.session.iat_id}}">
    <input type="hidden" name="user_id" value="{{request.session.user.id}}">
    <input type="hidden" name="opcion" value="" id="opcion">
    
</form>


<div id="resultado">
</div>
<div class="oculto">
    <input type="text" id="escribe" >
</div>

    {% if dispositivo != "d" %}
        {% load static %}
        <script  src="{% static 'js/tiempo_click.js' %}"></script>
        </script> 
    {% endif %}
    {% if dispositivo == "d" %}
        {% load static %}
        <script  src="{% static 'js/tiempo.js' %}"></script>
        </script> 
    {% endif %}
{% endblock %}
