{% extends '../base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <p>El navegador redirigirá dentro de 25 segundos al estudio.
            </p>
            <p>Para responder este estudio por favor posicione su dedo índice de la mano izquierda sobre la tecla <b>E</b> y el índice de su mano derecha sobre la tecla <b>I</b>, el test debe ser respondido lo más rápido y preciso posible.
            </p>
            <p>Los candidatos serán mostrados a la izquierda o a la derecha y usted deberá teclear la letra <b>E</b>  cuando el candidato asociado está a la <b>izquierda</b>  o la letra <b>I</b>  cuando el candidato asociado está a la  <b>derecha</b>   .</p>
        </div>
    </div>
</div>


<script type="text/javascript">
    setTimeout( function() { 
        window.location.href = "/elecciones2025/test/d"; 
    }, 27000 );

</script>


{% endblock %}